<!-- Fichier : components/footer.html -->
<footer>
    <div class="container">
        <p>&copy; 2025 Baptiste Auvray. 
            <span lang="en">All rights reserved.</span>
            <span lang="fr">Tous droits réservés.</span>
            <span lang="es">Todos los derechos reservados.</span>
        </p>
        <p>&copy; 
            <span lang="en">Website by TKO.</span>
            <span lang="fr">Site web par TKO.</span>
            <span lang="es">Sitio web por TKO.</span>
        </p>
        <!-- Vous pouvez ajouter plus de choses ici plus tard, comme des liens -->
    </div>
</footer>